@using Gabbler.Entities;
@{
    Layout = null;
}
@model ErrorViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <p>
        RequetId = @Model.RequestId
    </p>
    <p>
        @Model.ErrorText
    </p>
</body>
</html>
